body{
    background-color: #f2f4f8;
}
.text-orange {
    color: #ef4a23;
}

.bg-p-gift{
    background-color: #6e2594;
}
.text-p-gift{
    color: #6e2594;
}

.bg-orange {
    background-color: #ef4a23;
}

.text-black-100 {
    color: #081621;
}

.bg-black-100 {
    background-color: #081621;
}
.fs-xs{
    font-size: 10px;
}
.fs-sm{
    font-size: 14px;
}
